// FOOTER :: START
footer.footer
  .container
    .footer__wrapper
      a(href="#").footer__logo
        img(src="img/logotype.svg", alt="")
      .footer__middle
          p.footer__info © 2018 «So-logistics» Все права защищены. 
           a(href='https://www.sebekon.ru' target='_blank') Разработано в 
             span SEBEKON
      .footer__links
          a.footer__phone(href='tel:88005051674') 8 (800) 505-16-74
          a.footer__mail(href='mailto:info@so-logistics.ru') info@so-logistics.ru
// FOOTER :: END
