// HEADER :: START
header.header
  .container
    .header__wrapper
      a(href="#").header__logo
        //- +icon('ico-email')
        img(src="img/logotype.svg", alt="")
      .header__pages
          a.header__link-page.is-active(href='#') Текущие поставки
          a.header__link-page(href='#') журнал поставок
      .header__user
          //- img(src='img/icn-user.png', alt='')
          .header__user-icon
            +icon('ico-user')
          .header__user-info
            p СибЛогистикс
            a(href='#') Выйти
      .header__links
          a.header__phone(href='tel:88005051674') 8 (800) 505-16-74
          a.header__mail(href='mailto:info@so-logistics.ru') info@so-logistics.ru
      
        
// HEADER :: END
