// HEADER :: START
header.login-header
  .container
    .login-header__wrapper
      a(href="#").login-header__logo
        img(src="img/logotype.svg", alt="")
      .login-header__links
          a.login-header__phone(href='tel:88005051674') 8 (800) 505-16-74
          a.login-header__mail(href='mailto:info@so-logistics.ru') info@so-logistics.ru
      
        
// HEADER :: END
