// HEADER :: START
header.header.header--login
  .container
    .header__wrapper
      .header__logo
        img(src="img/logotype.svg", alt="")
      .header__links
          a.header__phone(href='tel:88005051674') 8 (800) 505-16-74
          a.header__mail(href='mailto:info@so-logistics.ru') info@so-logistics.ru
      
        
// HEADER :: END
