// steps
.steps(data-active-step='3').js-steps
  // item
  .step
    p.step__days 888 дн.
    .step__progress
      .step__icon
        +icon('ico-ship')
      .step__tooltip
        .step__tooltip-row
          p.step__tooltip-date 09.10.2017, 08:53
          p.step__tooltip-info Груз прибыл в порт
        .step__tooltip-row
          p.step__tooltip-date 09.10.2017, 12:40
          p.step__tooltip-info Груз перемещен в зону сортировки
        .step__tooltip-row
          p.step__tooltip-date 10.10.2017, 02:01
          p.step__tooltip-info Груз отправлен из порта
    .step__info
      .step__info-wrapper
        p.step__info-title Отправлено поставщиком
        p.step__info-date 02.10.2017
      p.step__info-comment Отправлено со склада в Москве
  // item
  .step
    p.step__days 5 дн.
    .step__progress
      .step__icon
        +icon('ico-plane')
    .step__info
      .step__info-wrapper
        p.step__info-title Доставка до материка
        p.step__info-date 17.10.2017
      p.step__info-comment Отправлено со склада в Москве
  // item
  .step
    p.step__days 28 дн.
    .step__progress
      .step__icon
        +icon('ico-train')
    .step__info
      .step__info-wrapper
        p.step__info-title Получено
        p.step__info-date 20.10.2017
      p.step__info-comment Отправлено со склада в Москве
