---
title: Current
---
extends shared/_layout
block content
  // Begin log-page
  .log-head
    .container
      h1 Текущие поставки
      
  .log
    .container.container--full

      include components/_log-grid
