---
title: current
---
extends shared/_layout
//- block header
block content
	// Begin current-page
	.wrapper-main
		.current-head
			.container
				h1 Текущие поставки
		.current-body
			.container.container--full
				.current-body__item.is-open
					.current-body__item-head
						p.current-body__number №01-585494-95
						.current-body__vertical-line
						.current-body__status 
							.current-body__way
							.current-body__success-way(style='width:10%')
						.current-body__vertical-line
						.current-body__info
							p.current-body__date 02.11.2017
							p.current-body__delivery-status Доставка до материка
							p.current-body__comment Отправлено поставщиком
						a.current-body__open-item.open-button(href='#')
							+icon('ico-arrow')
					.current-body__full-way
					.current-body__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки
				.current-body__item
					.current-body__item-head
						p.current-body__number №01-585494-95
						.current-body__vertical-line
						.current-body__status 
							.current-body__way
							.current-body__success-way(style='width:10%')
						.current-body__vertical-line
						.current-body__info
							p.current-body__date 02.11.2017
							p.current-body__delivery-status Доставка до материка
							p.current-body__comment Отправлено поставщиком
						a.current-body__open-item.open-button(href='#')
							+icon('ico-arrow')
					.current-body__full-way
					.current-body__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки	
				.current-body__item
					.current-body__item-head
						p.current-body__number №01-585494-17
						.current-body__vertical-line
						.current-body__status 
							.current-body__way
							.current-body__success-way(style='width:100%')
						.current-body__vertical-line
						.current-body__info
							p.current-body__date 24.10.2017
							p.current-body__delivery-status Доставлено
							p.current-body__comment Принято получателем
						a.current-body__open-item.open-button(href='#')
							+icon('ico-arrow')
					.current-body__full-way
					.current-body__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки

				.current-body__item
					.current-body__item-head
						p.current-body__number №00-559502-98
						.current-body__vertical-line
						.current-body__status 
							.current-body__way
							.current-body__success-way(style='width:40%')
						.current-body__vertical-line
						.current-body__info
							p.current-body__date 18.10.2017
							p.current-body__delivery-status Таможня
							p.current-body__comment Ожидает проверки
						a.current-body__open-item.open-button(href='#')
							+icon('ico-arrow')
					.current-body__full-way
					.current-body__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки

				.current-body__item
					.current-body__item-head
						p.current-body__number №00-559552-13
						.current-body__vertical-line
						.current-body__status 
							.current-body__way
							.current-body__success-way(style='width:70%')
						.current-body__vertical-line
						.current-body__info
							p.current-body__date 15.10.2017
							p.current-body__delivery-status Доставка до склада
							p.current-body__comment Принято на склад
						a.current-body__open-item.open-button(href='#')
							+icon('ico-arrow')
					.current-body__full-way
					.current-body__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки

				.current-body__item
					.current-body__item-head
						p.current-body__number №00-559502-58
						.current-body__vertical-line
						.current-body__status 
							.current-body__way
							.current-body__success-way(style='width:1%')
						.current-body__vertical-line
						.current-body__info
							p.current-body__date 13.10.2017
							p.current-body__delivery-status Ожидает отправки
							p.current-body__comment Заказ еще не отправлен
						a.current-body__open-item.open-button(href='#')
							+icon('ico-arrow')
					.current-body__full-way
					.current-body__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки




//- block footer
