---
title: Log-page
---
extends shared/_layout
block content
  // Begin log-page
  .log-head
    .container
      h1 Журнал поставок
      
  .log
    .container.container--full
      include components/_filter
      
      include components/_log-grid
			
  include components/_pagination
