---
title: Log-page
---
extends shared/_layout
block content
	// Begin log-page
	.log-head
		.container
			h1 Журнал поставок
			
	.log
		.container.container--full
			include components/_filter
			
			// ITEMS
			// item
			.log__item.is-open
				.log__item-head
					span.log__number №01-585494-95
					.log__status 
						.log__status-path
						.log__status-fill(style='width:10%')
					.log__info
						span.log__date 02.11.2017
						span.log__delivery-status Доставка до материка
						span.log__comment Отправлено поставщиком
					.log__toggler
						+icon('ico-arrow')
				// dropdown
				.log__dropdown
					.log__full-way
						include components/_steps-6
						
					.log__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки
			// item
			.log__item
				.log__item-head
					span.log__number №01-585494-95
					.log__status 
						.log__status-path
						.log__status-fill(style='width:10%')
					.log__info
						span.log__date 02.11.2017
						span.log__delivery-status Доставка до материка
						span.log__comment Отправлено поставщиком
					.log__toggler
						+icon('ico-arrow')
				// dropdown
				.log__dropdown
					.log__full-way
						include components/_steps-6
					.log__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки	
			// item
			.log__item
				.log__item-head
					span.log__number №01-585494-17
					.log__status 
						.log__status-path
						.log__status-fill(style='width:100%')
					.log__info
						span.log__date 24.10.2017
						span.log__delivery-status Доставлено
						span.log__comment Принято получателем
					.log__toggler
						+icon('ico-arrow')
				// dropdown
				.log__dropdown
					.log__full-way
						include components/_steps-6
					.log__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки
			
			// item
			.log__item
				.log__item-head
					span.log__number №00-559502-98
					.log__status 
						.log__status-path
						.log__status-fill(style='width:40%')
					.log__info
						span.log__date 18.10.2017
						span.log__delivery-status Таможня
						span.log__comment Ожидает проверки
					.log__toggler
						+icon('ico-arrow')
				// dropdown
				.log__dropdown
					.log__full-way
						include components/_steps-6
					.log__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки
			
			// item
			.log__item
				.log__item-head
					span.log__number №00-559552-13
					.log__status 
						.log__status-path
						.log__status-fill(style='width:70%')
					.log__info
						span.log__date 15.10.2017
						span.log__delivery-status Доставка до склада
						span.log__comment Принято на склад
					.log__toggler
						+icon('ico-arrow')
				// dropdown
				.log__dropdown
					.log__full-way
						include components/_steps-6
					.log__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки
			
			// item
			.log__item
				.log__item-head
					span.log__number №00-559502-58
					.log__status 
						.log__status-path
						.log__status-fill(style='width:1%')
					.log__info
						span.log__date 13.10.2017
						span.log__delivery-status Ожидает отправки
						span.log__comment Заказ еще не отправлен
					.log__toggler
						+icon('ico-arrow')
						
				// dropdown
				.log__dropdown
					.log__full-way
						include components/_steps-6
					.log__full-info
						h2.full-info__title Информация о заказе
						.full-info__grid
							.row
								.left-side
									p Текущее состояние:
								.right-side
									p 
										strong Доставка по РФ
							.row
								.left-side
									p Наименование партии:
								.right-side
									p 05150439435
							.row
								.left-side
									p Документы:
								.right-side
									a(href='#') Накладная №01-5395-548
							.row
								.left-side
									p Комментарий:
								.right-side
									p Требуется оплата доставки
	
	include components/_pagination
