---
title: Login
---
extends shared/_layout
block header
block content
  include components/_login-header
  .login
    form.login__form(action='#')
      p.login__title Вход в личный кабинет
      .ui-group
        label логин
        input(type='text', name='name', placeholder='sibblogistic').ui-input
      .ui-group
        label пароль
        input(type='password', name='password', placeholder='********').ui-input
      button(type='submit').btn.btn-primary Войти
      p.login__error ошибка из validateSubmitHandler

block footer
