// LAYOUT
$mobile-s: 375
$mobile: 568
$tablet: 768
$desktop: 992
$wide: 1336
$hd: 1440

// COLORS
$fontColor: #444444
$colorBlue: #106bb5
$colorBlueHover: #2887e8
$colorGreen: #32cb77
$borderColor: #f1f1f1


// OPTIONS
$transitionSpeed: .25s
$ease: ease-in-out
