.header
	position: fixed
	z-index: 9999
	top: 0
	left: 0
	width: 100%
	background: #fff
	display: flex
	padding: 7px 10px
	.container
		padding: 0
	&__logo
		max-width: 147px
		// width: 45%
		min-width: 135px
		img
			width: 100%
			height: auto
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center
	&__links
		display: flex
		flex-wrap: wrap
		// margin-left: auto
		flex: 0 0 127px
		justify-content: flex-end
	&__phone
		display: flex
		width: 100%
		font-weight: 700
		font-size: 12px
		color: #444444
	&__mail
		display: flex
		// width: 100%
		font-weight: 400
		font-size: 12px
		color: #106bb5
		border-bottom: 1px solid #106bb5
		margin-top: 5px
		letter-spacing: 0.1px
		&:hover
			color: #2887e8
			border-color: transparent
	&__pages
		margin: 0 auto
		width: 100%
		position: static
		text-align: center
		flex: 1
	&__link-page
		font-size: 11px
		text-transform: uppercase
		color: #106bb5
		border-bottom: 1px solid #106bb5
		margin: 0 3%
		cursor: pointer
		
		&:hover
			color: #106bb5
			border-color: transparent
		&.is-active
			border-bottom: 1px solid transparent
			color: #444
	&__user
		display: flex
		// flex: 0 1 auto
		align-items: center
		padding: 0 20px
		border: 1px solid #f1f1f1
		border-top: none
		border-bottom: none
		margin-left: auto
		margin-right: 20px
		p
			display: block
			width: inherit
			font-size: 12px
			font-weight: 700
		a
			font-weight: 400
			font-size: 12px
			color: #106bb5
			border-bottom: 1px solid #106bb5
			margin-top: 5px
			letter-spacing: 0.1px
	&__user-icon
		min-width: 21px
		margin-right: 15px
		.ico
			color: #cccccc
			font-size: 21px

+r($tablet)
	.header
		&__pages
			position: absolute
			top: 61px
			left: 0
			padding: 10px 
			background: #fff
			width: 100%
			border-top: 1px solid #f1f1f1
			justify-content: center
			text-align: center
			
		&__user
			border-left: none
		&__links
			margin-left: 2.5%

+r($mobile)
	.header
		&__logo
			max-width: 135px
		&__links
			display: none
		&__user
			padding: 0
			margin: 0
			border: none
		&__pages
			top: 57px
			border-bottom: 1px solid transparent
			&.custom
				border-bottom: 1px solid #f1f1f1









