.ico-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-date {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.ico-icon {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-plane {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-ship {
  width: 2.31em;
  height: 1em;
  fill: initial;
}
.ico-train {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.ico-truck {
  width: 1.58em;
  height: 1em;
  fill: initial;
}
.ico-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
